


.card_container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 125px;
}

.card_container:hover {
  transform: scale(1.05);
}

.member_name {
  color: #333;
  font-size: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.member_photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.member_photo:hover {
  transform: scale(1.1);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0; 
}

.member_id {
  color: #0a0a0a;
  font-size: 16px;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
